# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
#.mtj.tmp/

# Package Files #
#*.jar
#*.war
#*.ear
#*.zip
#*.tar.gz
#*.rar

# ignore eclipse files
#.project
.classpath
.settings

# build files
/build/
/bin/

/doc/~$T-EPS接口文档.docx
/eps_printer/*.bak
/eps_printer/printer/Picture.gif
/eps_printer/printer/printer.cfg
/doc/~$T防错料系统通讯协议_V1.0 2017-11-28.docx
/eps_display/*.dcu
/eps_display/*.ddp
/eps_display/*.cfg
/eps_display/*.dof
/eps_display/*.res
/eps_display/*.cfg
/eps_display/*.ddp
/eps_display/*.cfg
/eps_display/*.dof
/eps_display/*.res
/eps_display/*.~pas
/eps_display/*.~ddp
/eps_display/*.~dfm
/eps_display/*.dcu
/target/Jiminal-1.0.jar
/target/classes/META-INF/MANIFEST.MF
/target/classes/META-INF/maven/cc.darhao/Jiminal/pom.properties
/target/classes/META-INF/maven/cc.darhao/Jiminal/pom.xml
/target/maven-archiver/pom.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/surefire-reports/TEST-cc.darhao.jiminal.test.ParserTest.xml
/target/surefire-reports/TEST-cc.darhao.jiminal.test.SocketTest.xml
/target/surefire-reports/TEST-cc.darhao.jiminal.test.UtilsTest.xml
/target/surefire-reports/cc.darhao.jiminal.test.ParserTest.txt
/target/surefire-reports/cc.darhao.jiminal.test.SocketTest.txt
/target/surefire-reports/cc.darhao.jiminal.test.UtilsTest.txt
/target/surefire/surefire5358711873375757914tmp
/target/surefire/surefire_06930331202722475211tmp
/target/surefire/surefirebooter8618142174348002070.jar
/target
